* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.films__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.film__box {
  width: 30%;
  height: 400px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.film-img {
  width: 100%;
  height: 250px;
  object-fit: contain;   
  background-color: white;
}

.film__info {
  padding: 15px;
  background-color: white;
  flex: 1;
}

.film__title {
  color: #ee0802;
}

body {
  background-color: blanchedalmond;
}
